// logo - buttons - active links fa colors images colors backgrounds 
$primary-color: #f9ce06; 

$secondary-color: #fff;


$nav-height: 30px;

$logo-font: 'Roboto Slab', sans-serif;
$main-font: 'Varela Round', sans-serif;